##### working directory:     G:\My Drive\Data\Density 2017\Notebooks

### 1.1 Libraries

In [1]:
import numpy as np
import pandas as pd
import math

# display all columns
pd.set_option('display.max_columns', None)

pd.options.display.float_format = '{:.2f}'.format
# pd.set_option('display.max_columns', 30) #can specify for rows too, and change number to maximum you want

#### This notebook does the following:
-Select relevant columns from the population density dataset 

-Merges the data with census tract labels and 

-computes the index score for geos with density above average

### 1.2 Importing Data

In [2]:
#specify datatypes so FIPS numbers, etc. read in properly
variable_types = {'Geo.id': 'str', 'GEO.id2': 'str'}

df = pd.read_csv('G:\My Drive\Data\Density 2017\Original_Data\R12538771_SL140.csv', delimiter = ',', header=[0], skiprows=[1], dtype=variable_types)
#specify dtype with variable_types we created above

In [3]:
df = df[['FIPS', 'Total Population',
       'Population Density (Per Sq. Mile)']] # selecting the first 28 columns

In [4]:
# renaming columns
df.rename(columns={"Total Population" : "total_pop", 'FIPS': 'GEOID',
                    "Population Density (Per Sq. Mile)" : "pop_density",}, inplace=True)

In [5]:
df.dtypes

GEOID            int64
total_pop        int64
pop_density    float64
dtype: object

In [6]:
df.head(10)

        GEOID  total_pop  pop_density
0  6001400100       2991      1123.62
1  6001400200       1997      8804.50
2  6001400300       5123     12004.13
3  6001400400       3991     14462.34
4  6001400500       3944     17304.41
5  6001400600       1635     14217.04
6  6001400700       4837     14231.20
7  6001400800       3796     14120.98
8  6001400900       2394     14732.17
9  6001401000       6247     14138.94

In [7]:
lu = pd.read_csv(r'G:\My Drive\Data\Race Eth ACS 2017\Data_Exports\lookup_ct_county_name.csv')
lu

          GEOID Census Tract     County
0    6065043216    CT 432.16  Riverside
1    6065043218    CT 432.18  Riverside
2    6065043220    CT 432.20  Riverside
3    6065043222    CT 432.22  Riverside
4    6065043246    CT 432.46  Riverside
..          ...          ...        ...
154  6073021205    CT 212.05  San Diego
155  6073021206    CT 212.06  San Diego
156  6073021302    CT 213.02  San Diego
157  6073021303    CT 213.03  San Diego
158  6073021304    CT 213.04  San Diego

[159 rows x 3 columns]

In [8]:
merged_df = pd.merge(lu, df, on='GEOID', how='inner')

In [9]:
# number of rows and columns in df
total_rows=len(merged_df.axes[0])
total_cols=len(merged_df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 159
Number of Columns: 5

In [10]:
merged_df['density_abv_average']=0

In [11]:
merged_df["density_abv_average"] = np.where((merged_df.pop_density > 4500), 1, 0)
merged_df

,GEOID,Census Tract,County,total_pop,pop_density,density_abv_average
0,6065043216,CT 432.16,Riverside,6359,3215.16,0
1,6065043218,CT 432.18,Riverside,5415,2814.28,0
2,6065043220,CT 432.20,Riverside,4480,6523.11,1
3,6065043222,CT 432.22,Riverside,4570,1353.67,0
4,6065043246,CT 432.46,Riverside,5706,1140.15,0
...,...,...,...,...,...,...
154,6073021205,CT 212.05,San Diego,7073,1844.53,0
155,6073021206,CT 212.06,San Diego,3065,187.84,0
156,6073021302,CT 213.02,San Diego,7738,53.10,0
157,6073021303,CT 213.03,San Diego,9497,319.80,0
158,6073021304,CT 213.04,San Diego,2508,81.00,0

In [12]:
merged_df.describe()

              GEOID  total_pop  pop_density  density_abv_average
count        159.00     159.00       159.00               159.00
mean  6072115686.21    5927.82      4519.02                 0.34
std      2534645.90    3590.34      5398.96                 0.48
min   6065043216.00    1600.00         3.25                 0.00
25%   6073016351.50    4008.00       587.00                 0.00
50%   6073018904.00    5599.00      3085.66                 0.00
75%   6073020212.00    7143.50      5889.83                 1.00
max   6073021304.00   40402.00     30085.25                 1.00

In [13]:
merged_df['density_abv_average'].sum()

54

In [14]:
merged_df.to_csv('G:\My Drive\Data\Density 2017\Data_Exports\density.csv', index=False)

In [15]:
# export dataframe
merged_df.to_csv(r'G:\My Drive\Data\CA Congressional District_Compilation\Data_Exports\density.csv', index=False)